.checkout__field-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    padding: 0 0 0 0;
    text-transform: uppercase;
}

.checkout__field-input {
    min-width: 360px;
    height: 45px;
    padding: 0 0 0 16px;
    margin: 20px 0 0 0;
    opacity: 0.7;
}

.checkout__subtitle {
    position: relative;
}

.checkout__subtitle-price {
    color: $pink-color;
}

.checkout__total-price {
    color: $pink-color;
    padding: 0 0 0 10px;
}

.checkout__subtitle-number {
    position: absolute;
    margin: 0 0 0 40px;
    width: 43px;
    height: 24px;
    left: 100px;
    bottom: 5px;
    font-size: 18px;
    text-align: center;
    display: block;
    border: 1px solid $gray-color;
}

.checkout__item-btn {
    display: flex;
    justify-content: center;
}

.checkout__proceed-btn {
    width: 273px;
    height: 50px;
    font-size: 11px;
    border: none;
    color: $white-color;
    background-color: $pink-color;
    text-transform: uppercase;
    margin: 17px 0 0 0;
}

.checkout__proceed-btn:hover {
    background-color: $gray-color;
}

.checkout__field-btn {
    width: 100px;
    height: 34px;
    font-size: 11px;
    background-color: transparent;
    text-transform: uppercase;
    margin: 24px 0 0 0;
}

.checkout__total-list {
    width: 360px;
    height: 214px;
    background-color: #F5F3F3;
    margin: 57px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout__sub-total {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    padding: 0 34px 12px 0;
    text-align: end;
    text-transform: uppercase;
}

.checkout__grand-total {
    font-size: 16px;
    font-weight: 00;
    line-height: 19px;
    padding: 0 34px 21px 0;
    text-align: end;
    text-transform: uppercase;
}
