.field {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 0 0;
}

.field__title {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    padding: 0 0 0 0;
}

.field__input {
    min-width: 360px;
    height: 45px;
    padding: 0 0 0 16px;
    margin: 20px 125px 0 0;
    opacity: 0.7;
}

.field__radio {
    display: flex;
    padding: 34px 0 34px 0;
}

.field__form {
    display: block;
}

.field__radio-label {
    padding: 0 20px 0 0;
}

.field__text {
    max-width: 360px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin: 15px 0 39px 0;
    color:#B1B1B1;
}

.field__btn {
    width: 167px;
    height: 50px;
    margin: 0 0 96px 0;
    background-color: $pink-color;
    color: $white-color;
    text-transform: uppercase;
    border: none;
}

.field__btn::after{
    content: "\2192";
    font-size: 20px;
    padding: 0 0 0 20px;
}

.field__btn:hover {
    background-color: $gray-color;
}

.field__item {
    position: relative;
    padding: 0 0 27px 25px;
    font-size: 24px;
    font-weight: 300;
}

.field__item::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../img/chek.svg);
    background-size: 16px 16px;
    left: -20px;
}

.field__list-title{
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-transform: uppercase;
}

.field__list-subtitle {
    max-width: 720px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    padding: 22px 0 27px 0;
}

.field__list {
    margin: 0 0 0 15px;
}