[type="email"] {
    display: block;
}

[type="adress"],
[type="email"],
[type="text"],
[type="text"],
[type="password"],
[type="number"] {
    display: block;
    outline: 1px solid;
    background: transparent;
    border: none;
    opacity: 0.5;
}

[type="adress"]:hover,
[type="adress"]:focus,
[type="password"]:hover,
[type="password"]:focus,
[type="number"]:hover,
[type="number"]:focus,
[type="email"]:hover,
[type="email"]:focus,
[type="text"]:hover,
[type="text"]:focus,
[type="search"]:hover,
[type="search"]:focus {
    outline: 0.5px solid red;
}

